@media (max-width: 992px) {
    .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
        display: contents;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }
    }