<nav
  class="navbar navbar-expand-lg navbar-light bg-white w-100 navigation flex-row-reverse"
  id="navbar"
>
  <div class="container" style="width: 240px">
    <ul class="top-menu list-inline mb-0 d-lg-block" id="top-menu">
      <li class="dropdown cart-nav dropdown-slide list-inline-item">
        <a
          href="#"
          class="search_toggle"
          id="search-icon"
          data-toggle="dropdown"
          data-hover="dropdown"
        >
          <i class="tf-ion-android-search"></i>
        </a>
        <div class="dropdown-menu cart-dropdown">
          <input type="text" class="form-control" placeholder="Search" />
        </div>
      </li>
      <li class="dropdown cart-nav dropdown-slide list-inline-item">
        <a
          href="#"
          class="dropdown-toggle cart-icon"
          data-toggle="dropdown"
          data-hover="dropdown"
        >
          <i class="tf-ion-android-cart"></i>
        </a>
        <div class="dropdown-menu cart-dropdown">
          <!-- Cart Item -->
          <div class="media">
            <a routerLink="/product-single">
              <img
                class="media-object img- mr-3"
                src="assets/images/product-1.png"
                alt="image"
              />
            </a>
            <div class="media-body">
              <h6>Gear</h6>
              <div class="cart-price">
                <span>1 x</span>
                <span>1250.00</span>
              </div>
            </div>
            <a href="#" class="remove"><i class="tf-ion-close"></i></a>
          </div>
          <!-- / Cart Item -->
          <!-- Cart Item -->
          <div class="media">
            <a routerLink="/product-single">
              <img
                class="media-object img-fluid mr-3"
                src="assets/images/product-2.png"
                alt="image"
              />
            </a>
            <div class="media-body">
              <h6>Gear</h6>
              <div class="cart-price">
                <span>1 x</span>
                <span>1250.00</span>
              </div>
            </div>
            <a href="#" class="remove"><i class="tf-ion-close"></i></a>
          </div>
          <!-- / Cart Item -->

          <div class="cart-summary">
            <span class="h6">Total</span>
            <span class="total-price h6">$1799.00</span>

            <div class="text-center cart-buttons mt-3">
              <a
                href="#"
                class="btnn btn-small btn-main btn-block"
                routerLink="/cart"
              >
                View Cart
              </a>
              <a
                href="#"
                class="btnn btn-small btn-main btn-block"
                routerLink="/checkout"
              >
                Checkout
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="list-inline-item">
        <a routerLink="/profile-details">
          <i class="tf-ion-ios-person mr-3"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/images/TNTG.jpg" width="30" height="30" alt="" />
    </a>
    <a class="navbar-brand font-weight-bold" routerLink="/"> TNT Store </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#main-navbar"
      aria-controls="main-navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <!-- /Pages -->
        <!-- / Blog -->

        <li class="nav-item dropdown dropdown-slide">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown3"
            role="button"
            data-delay="350"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Shop
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <li><a routerLink="/product">Product</a></li>
            <li><a routerLink="/checkout">Checkout</a></li>
            <li><a routerLink="/cart">Cart</a></li>
          </ul>
        </li>

        <!-- PAGE -->
        <li class="nav-item dropdown dropdown-slide">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown5"
            role="button"
            data-delay="350"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Pages
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
            <li><a routerLink="/dashboard">Dahsboard</a></li>
            <li><a routerLink="/order">Orders</a></li>
            <li><a routerLink="/profile-details">Profile Details</a></li>
            <li><a routerLink="/login">Login Page</a></li>
            <li><a routerLink="/signup">SignUp Page</a></li>
            <!-- <li><a routerLink="/forgot-password">Forgot Password</a></li> -->
          </ul>
        </li>
        <!-- / Account -->
      </ul>
    </div>
    <!-- Navbar-collapse -->
  </div>
</nav>
