<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Profile</h1>
          <p>Information</p>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Profile
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 col-sm-12 col-lg-12">
        <div class="tab-pane fade show active" id="settings" role="tabpanel">
          <div class="acccount-settings">
            <h1 class="mb-4 text-center">Profile</h1>
            <form>
              <div class="form-group mb-4">
                <label>Full name </label>
                <input
                  name="name"
                  type="text"
                  class="form-control"
                  value="DAN"
                />
              </div>
              <div class="form-row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Age</label>
                    <input
                      name="age"
                      type="text"
                      class="form-control"
                      value="20"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Gender</label>
                    <input
                      name="gender"
                      type="text"
                      class="form-control"
                      value="X"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group mb-4">
                <label>Email address </label>
                <input
                  name="email"
                  type="text"
                  class="form-control"
                  value="dan@gmail.com"
                />
              </div>
              <div class="form-group mb-4">
                <label>Phone number </label>
                <input
                  name="phone"
                  type="text"
                  class="form-control"
                  value="0909xxxxxx"
                />
              </div>
              <div class="form-group mb-4">
                <label>Address </label>
                <input
                  name="address"
                  type="text"
                  class="form-control"
                  value="TP HCM"
                />
              </div>
              <button
                href="#"
                class="btn btn-main mt-3 btn-block btn-dark"
                (click)="onSubmit()"
              >
                Save Changes
              </button>
              <small class="text-danger text-center">Something wrong</small>
            </form>

            <!-- <form action="#" class="mt-5">
                <h4>Password change</h4>

                <div class="form-group">
                  <label >Current password </label>
                  <input type="text" class="form-control" placeholder="">
                  
                </div>
                <div class="form-group">
                  <label >New password</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
                <div class="form-group">
                  <label >Confirm password</label>
                  <input type="text" class="form-control" placeholder="">
                </div>

                <a href="#" class="btn btn-main mt-3 btn-block btn-dark">Save Changes</a>
              </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
