<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Product Single</h1>
          <p>Information</p>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Product Single {{ product?.name }}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="single-product">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="single-product-slider">
          <div
            class="carousel slide"
            data-ride="carousel"
            id="single-product-slider"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{ product?.image }}" alt="" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="single-product-details mt-5 mt-lg-0">
          <h2>{{ product?.name }}</h2>
          <hr />
          <h3 class="product-price">{{ product?.price }} <del>$119.90</del></h3>
          <p class="product-description my-4">
            Description Information:{{ product.description }}
          </p>

          <form class="cart" action="#" method="post">
            <div class="quantity d-flex align-items-center">
              <input
                id="inputQuantity"
                type="number"
                [(ngModel)]="quantity"
                class="input-text qty text form-control w-25 mr-3"
                value="1"
                step="1"
                min="1"
                max="9"
                name="quantity"
                title="Qty"
                size="4"
              />
              <button
                class="btnn btn-main btn-small"
                (click)="addToCart(product)"
              >
                Add to cart
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
