<nav
  class="navbar navbar-expand-lg navbar-light bg-white w-100 navigation flex-row-reverse"
  id="navbar"
>
  <div class="container" style="width: 240px">
    <ul class="top-menu list-inline mb-0 d-lg-block" id="top-menu">
      <li class="dropdown cart-nav dropdown-slide list-inline-item">
        <a
          href="#"
          class="search_toggle"
          id="search-icon"
          data-toggle="dropdown"
          data-hover="dropdown"
        >
          <i class="tf-ion-android-search"></i>
        </a>
        <div class="dropdown-menu cart-dropdown">
          <input type="text" class="form-control" placeholder="Search" />
        </div>
      </li>
      <li class="dropdown cart-nav dropdown-slide list-inline-item">
        <a
          href="#"
          class="dropdown-toggle cart-icon"
          data-toggle="dropdown"
          data-hover="dropdown"
        >
          <i class="tf-ion-android-cart"></i>
        </a>
        <div class="dropdown-menu cart-dropdown">
          <!-- Cart Item -->
          <div class="media" *ngFor="let product of products">
            <a>
              <img
                class="media-object img- mr-3"
                src="{{ product.imageUrls }}"
                alt="image"
              />
            </a>
            <div class="media-body">
              <h6>{{ product.name }}</h6>
              <div class="cart-price">
                <span>1 x</span>
                <span>{{ product.price }}</span>
              </div>
            </div>
            <button class="remove" (click)="removeFromCart()">
              <i class="tf-ion-close"></i>
            </button>
          </div>
          <!-- / Cart Item -->

          <div class="cart-summary">
            <!-- <span class="h6">Total</span>
            <span class="total-price h6">$1799.00</span> -->

            <div class="text-center cart-buttons mt-3">
              <button
                class="btnn btn-small btn-main btn-block"
                routerLink="/cart"
              >
                View Cart
              </button>
            </div>
          </div>
        </div>
      </li>
      <li class="list-inline-item">
        <a routerLink="/profile-details">
          <i class="tf-ion-ios-person mr-3"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/images/TNTG.jpg" width="30" height="30" alt="" />
    </a>
    <a class="navbar-brand font-weight-bold" routerLink="/product">
      TNT Store
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#main-navbar"
      aria-controls="main-navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/product">Shop</a>
        </li>
        <li *ngIf="false" class="nav-item">
          <a class="nav-link" routerLink="/order">Orders</a>
        </li>
        <li *ngIf="true" class="nav-item">
          <a class="nav-link" routerLink="/login">Login Page</a>
        </li>
        <li *ngIf="true" class="nav-item">
          <a class="nav-link" routerLink="/signup">SignUp Page</a>
        </li>
        <li *ngIf="false" class="nav-item">
          <a class="nav-link" (click)="onLogout()">Logout</a>
        </li>
        <li *ngIf="false" class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dahsboard</a>
        </li>
      </ul>
    </div>
    <!-- Navbar-collapse -->
  </div>
</nav>
