<div class="nav flex-column nav-pills">
    <a class="btn btn-small btn-transparent btn-block" routerLink="/dashboard">Dashboard</a>
  </div>
  <div class="nav flex-column nav-pills">
    <a class="btn btn-small btn-transparent btn-block" routerLink="/profile-details" >Detail Profile</a>
  </div>
  <div class="nav flex-column nav-pills">
    <a class="btn btn-small btn-transparent btn-block" routerLink="/order" >Orders</a>
  </div>
  <div class="nav flex-column nav-pills">
    <a class="btn btn-small btn-transparent btn-block" routerLink="/">Log Out</a>
</div>