<ngx-slick-carousel class="main-slider slider" [config]="slideConfig">
  <div
    ngxSlickItem
    class="slider-item"
    style="background-image: url('assets/images/slideshow1-2.jpg')"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Winter Collection Sale </span>
            <h1 class="mt-2 mb-5">
              <span class="text-color">70% off </span>to everything
            </h1>
            <a href="#" class="btn btn-main btn-transparent">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    ngxSlickItem
    class="slider-item"
    style="background-image: url('assets/images/slideshow1-3.jpg')"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">up to 70% off</span>
            <h1 class="mt-2 mb-5">
              <span class="text-color">Classic</span> Style
            </h1>
            <a href="#" class="btn btn-main btn-transparent">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    ngxSlickItem
    class="slider-item"
    style="
      background-image: url('assets/images/slideshow1-1.jpg');
      background-position: 50%;
      background-repeat: no-repeat;
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Trendy dress</span>
            <h1 class="mt-2 mb-5">
              <span class="text-color">Winter </span>Collection
            </h1>
            <a href="#" class="btn btn-main btn-transparent">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-slick-carousel>

<section class="category section pt-3 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item mb-4 mb-lg-0">
          <img src="assets/images/product-3.png" alt="" class="img-fluid" />
          <div class="item-info">
            <p class="mb-0">Stylish Leather watch</p>
            <h4 class="mb-4">up to <strong>50% </strong>off</h4>

            <a href="#" class="read-more">Shop now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item mb-4 mb-lg-0">
          <img src="assets/images/product-2.png" alt="" class="img-fluid" />

          <div class="item-info">
            <p class="mb-0">Ladies hand bag</p>
            <h4 class="mb-4">up to <strong>40% </strong>off</h4>

            <a href="#" class="read-more">Shop now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item">
          <img src="assets/images/product-1.png" alt="" class="img-fluid" />
          <div class="item-info">
            <p class="mb-0">Trendy shoe</p>
            <h4 class="mb-4">up to <strong>50% </strong>off</h4>

            <a href="#" class="read-more">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section products-main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="title text-center">
          <h2>New arrivals</h2>
          <p>The best Online sales to shop these weekend</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/product-1.png"
                alt="product-img"
            /></a>
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/product-2.png"
                alt="product-img"
            /></a>
          </div>

          <span class="onsale">Sale</span>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a href="#">Floral Kirby</a></h2>
            <span class="price"> $329.10 </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/product-2.png"
                alt="product-img"
            /></a>
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/product-3.png"
                alt="product-img"
            /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a href="#">Open knit switer</a>
            </h2>
            <span class="price"> $29.10 </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/product-3.png"
                alt="product-img"
            /></a>
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/product-4.png"
                alt="product-img"
            /></a>
          </div>

          <span class="onsale">Sale</span>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a href="#">Official trendy</a>
            </h2>
            <span class="price"> $350.00 – $355.00 </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/product-4.png"
                alt="product-img"
            /></a>
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/product-5.png"
                alt="product-img"
            /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a href="#">Frock short</a></h2>
            <span class="price"> $249 </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a href="#"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/product-6.png"
                alt="product-img"
            /></a>
            <a href="#"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/product-7.png"
                alt="product-img"
            /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a href="#">Sleeve dress</a></h2>
            <span class="price"> $59.10 </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a href="#"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/product-7.png"
                alt="product-img"
            /></a>
            <a href="#"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/product-8.png"
                alt="product-img"
            /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a href="#">Stylish dress</a></h2>
            <span class="price"> $99.00 </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a href="#"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/product-8.png"
                alt="product-img"
            /></a>
            <a href="#"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/product-1.png"
                alt="product-img"
            /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a href="#">Body suite</a></h2>
            <span class="price"> $329.10 </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a href="#"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/product-5.png"
                alt="product-img"
            /></a>
            <a href="#"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/product-6.png"
                alt="product-img"
            /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a href="#">Sleeve linen shirt</a>
            </h2>
            <span class="price">
              <del
                >60
                <pre wp-pre-tag-3=""></pre>
              </del>
              $50.10
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /portfolio -->
