<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Order</h1>
          <p>Order</p>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Order</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <!-- <div class="col-12 col-md-5 col-sm-12 col-lg-3">
        <app-menu-info></app-menu-info>
      </div> -->

      <div class="col-12 col-md-7 col-sm-12 col-lg-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Order</th>
              <th scope="col">Phone</th>
              <th scope="col">Adress</th>
              <th scope="col">Total Price</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <th scope="row">{{ order.id }}</th>
              <td>{{ order.phone }}</td>
              <td>{{ order.address }}</td>
              <td>{{ order.totalPrice }}</td>
              <td>
                <a
                  routerLink="/order/{{ order.id }}"
                  class="btn btn-dark btn-small"
                  >View</a
                >
              </td>
            </tr>
            <!-- <tr> 
                  <th scope="row">#2214</th> 
                  <td>March 10, 2019</td> 
                  <td>Completed</td> 
                  <td>50</td> 
                  <td>
                      <a routerLink="/order-detail" class="btn btn-dark btn-small">View</a>
                  </td> 
              </tr> 
              <tr > 
                  <th scope="row">#3434</th> 
                  <td>February 11, 2019</td> 
                  <td>Pending</td> <td>25</td> 
                  <td><a routerLink="/order-detail" class="btn btn-dark btn-small">View</a>
                  </td> 
              </tr> 
              <tr> <th scope="row">#5312</th> 
                <td>July 11, 2019</td> 
                <td>Processsing</td> 
                <td>56</td> 
                <td><a routerLink="/order-detail" class="btn btn-dark btn-small">View</a></td> 
              </tr>  -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
