<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Order</h1>
          <p>Order Detail</p>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item"><a routerLink="/order">Order</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Order Detail
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cart shopping page-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="product-list">
          <form class="cart-form">
            <table
              class="table shop_table shop_table_responsive cart"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th class="product-thumbnail"></th>
                  <th class="product-name">Product</th>
                  <th class="product-price">Price</th>
                  <th class="product-quantity">Quantity</th>
                  <th class="product-subtotal">Total</th>
                  <th class="product-remove"></th>
                </tr>
              </thead>

              <tbody>
                <tr class="cart_item" *ngFor="let orderDetail of orderDetails">
                  <td class="product-thumbnail" data-title="Thumbnail">
                    <img
                      src="{{ orderDetail.product.image }}"
                      class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                      alt=""
                    />
                  </td>
                  <td class="product-name" data-title="Product">
                    <a href="#">{{ orderDetail.product.name }}</a>
                  </td>

                  <td class="product-price" data-title="Price">
                    <span class="amount"
                      ><span class="currencySymbol">
                        <pre wp-pre-tag-3=""></pre></span
                      >{{ orderDetail.product.price }}</span
                    >
                  </td>
                  <td class="product-quantity" data-title="Quantity">
                    <span class="quantity">
                      <span class="currencySymbol">
                        <pre wp-pre-tag-3=""></pre></span
                      >{{ orderDetail.amount }}</span
                    >
                  </td>
                  <td class="product-subtotal" data-title="Total">
                    <span class="amount">
                      <span class="currencySymbol">
                        <pre wp-pre-tag-3=""></pre></span
                      >{{ orderDetail.productPrice }}</span
                    >
                  </td>
                </tr>
                <!-- <tr class="cart_item">
                            <td class="product-thumbnail" data-title="Thumbnail">
                                <a routerLink="/product-single"><img src="assets/images/product-2.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""></a>
                            </td>
                            <td class="product-name" data-title="Product">
                                <a href="#">Sunglasses</a>
                            </td>
                            <td class="product-price" data-title="Price">
                                <span class="amount"><span class="currencySymbol">
<pre wp-pre-tag-3=""></pre>
                                </span>90.00</span>
                            </td>
                            <td class="product-quantity" data-title="Quantity">
                                <span class="quantity">
                                    <span class="currencySymbol">
                                        <pre wp-pre-tag-3=""></pre>
                                    </span>
                                    1
                                </span>
                            </td>
                            <td class="product-subtotal" data-title="Total">
                                <span class="amount">
                                  <span class="currencySymbol">
<pre wp-pre-tag-3=""></pre>
                                  </span>90.00</span>
                            </td>
                        </tr> -->
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
