<div class="account section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="login-form border p-5">
          <div class="text-center heading">
            <h2 class="mb-2">Sign Up</h2>
            <p class="lead">
              Already have an account? <a routerLink="/login"> Login now</a>
            </p>
          </div>

          <form *ngIf="true" name="form">
            <div class="form-group mb-4">
              <label for="#">Enter Full Name</label>
              <input
                name="name"
                required
                type="text"
                class="form-control"
                placeholder="Enter Full Name"
              />
            </div>
            <div class="form-row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Enter Age</label>
                  <input
                    name="age"
                    type="number"
                    class="form-control"
                    placeholder="Age"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Enter Gender</label>
                  <input
                    name="gender"
                    type="text"
                    class="form-control"
                    placeholder="Male or Female"
                  />
                </div>
              </div>
            </div>
            <div class="form-group mb-4">
              <label for="#">Enter Address</label>
              <input
                name="address"
                type="text"
                class="form-control"
                placeholder="Enter Address"
              />
            </div>
            <div class="form-group mb-4">
              <label for="#">Enter Phone Number</label>
              <input
                name="phone"
                type="number"
                class="form-control"
                placeholder="Enter Phone Number"
              />
            </div>
            <div class="form-group mb-4">
              <label for="#">Enter Email Address</label>
              <input
                name="email"
                type="email"
                class="form-control"
                placeholder="Enter Email Address"
              />
            </div>
            <div class="form-group mb-4">
              <label for="#">Enter username</label>
              <input
                name="username"
                type="text"
                class="form-control"
                placeholder="Enter Username"
              />
            </div>
            <div class="form-group mb-4">
              <label for="#">Enter Password</label>
              <input
                name="password"
                type="password"
                class="form-control"
                placeholder="Enter Password"
              />
            </div>
            <div class="form-group">
              <label for="#">Confirm Password</label>
              <input
                name="cfpassword"
                type="password"
                class="form-control"
                placeholder="Confirm Password"
              />
            </div>
            <div class="form-group justify-content-center">
              <button class="btnn btn-main mt-3 btn-block">Signup</button>
              <small class="text-danger text-center">Something go wrong!</small>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
