<section class="section products-main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="title text-center">
          <h2>New arrivals</h2>
          <p>The best Online sales to shop these weekend</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product/1"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/product-1.png"
                alt="product-img"
            /></a>
            <a routerLink="/product/2"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/product-2.png"
                alt="product-img"
            /></a>
          </div>

          <span class="onsale">Sale</span>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a routerLink="/product/1">Gear A</a>
            </h2>
            <span class="price"> $329.10 </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product/2"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/product-2.png"
                alt="product-img"
            /></a>
            <a routerLink="/product/3"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/product-3.png"
                alt="product-img"
            /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a routerLink="/product/2">Gear B</a>
            </h2>
            <span class="price"> $29.10 </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product/3"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/product-3.png"
                alt="product-img"
            /></a>
            <a routerLink="/product/4"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/product-4.png"
                alt="product-img"
            /></a>
          </div>

          <span class="onsale">Sale</span>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a routerLink="/product/3">Gear C</a>
            </h2>
            <span class="price"> $350.00 – $355.00 </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product/4"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/product-4.png"
                alt="product-img"
            /></a>
            <a routerLink="/product/5"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/product-5.png"
                alt="product-img"
            /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a routerLink="/product/4">Gear D</a>
            </h2>
            <span class="price"> $249 </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /portfolio -->
